@keyframes ani-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ani-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-wrap {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.65);
}

.loading-eclipse div {
    position: absolute;
    -webkit-animation: ani-loading 1s linear infinite;
    animation: ani-loading 1s linear infinite;
    width: 180px;
    height: 180px;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #1ce4eb;
    -webkit-transform-origin: 90px 92px;
    transform-origin: 90px 92px;
}

.loading-eclipse {
    width: 240px !important;
    height: 240px !important;
    -webkit-transform: translate(-120px, -120px) scale(1) translate(120px, 120px);
    transform: translate(-120px, -120px) scale(1) translate(120px, 120px);
}
