.logout-button{
    position: absolute;
    width: 56px;
    height: 56px;
    right: calc((100% - 1366px) / 4);
    margin-right: -28px;
    bottom: 0;
    &::before,&::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &::before{
        background-image: url('../assets/02.png');
    }
    &::after{
        background-image: url('../assets/01.png');
    }
}