@import "reset.scss";
@import "icon.scss";
@import "spinner.scss";
@import "fix.scss";

.page{
    margin-left: 18px;
    margin-right: 18px;
    box-sizing: border-box;
}

@media screen and (max-width: 1700px) {
     
}

@media screen and (max-width: 1600px) {
    
}
